
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <p> {{question}} </p>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
    <p> latest_question_list </p>
{% endif %}













{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No polls are available.</p>
   <p> latest_question_list </p>
{% endif %}


{{temp}}











 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{temp|safe}}

        );


        var options = {
          title: 'Streaming Temperature',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>





